:root{
    --primaryColor:#112855;
    --redColor : rgba(243, 68, 68, 0.9)
}
html,body{
    margin: 0;
    padding: 0;
}
* {
    box-sizing: border-box;
}
.flex_column {
display: flex;
flex-direction: column;
}
body > main {
flex: 1;
}
body { 
    min-height: 100%;
    background-color: rgba(250, 250, 250, 0.1);
    color: var(--redColor);
}
header,footer{
    background-color: rgba(250, 250, 250, 0.5);
    box-shadow: 1px 1px 1px 1px rgba(14, 1, 1, 0.3);
}
footer{
    box-shadow: 1px -1px 1px 1px rgba(14, 1, 1, 0.3); 
}
.form_container{
position: fixed;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(12, 14, 12, 0.4);
}
.add_form {
width: 350px;
margin: 150px auto;
z-index: 2;
border: 0.7px solid rgba(119, 101, 101, 0.2);
box-shadow: 1px 2px 1px 1px rgba(14, 1, 1, 0.3);
background-color: rgba(20, 22, 90, 01);
padding-top: 10px;
padding-bottom: 10px;
}
.add_form > * {
    display: block;
}
.hide {
    display: none;
}

.todo_container {
    width:500px;
    max-width: 100%;
    margin: 0 auto;
    background-color: white;
}
.todo_wrapper {
    border: 0.7px solid rgba(119, 101, 101, 0.2);
    box-shadow: 1px 1px 1px 1px rgba(82, 75, 75, 0.2);
    margin: 5px auto;
    position: relative;
    padding: 15px;
    color:var(--primaryColor);
}
.todo_title{
   font-size: 27px;
   font-weight: 900;
}

.todo_wrapper > i {
    position: absolute;
    right: 5px;
    bottom: 5px;
}

input[type=text], button {
    width: 300px;
    height: 50px;
    margin: 10px auto;
    padding: 5px;
    outline: none;
    text-align: center;
    background-color: rgba(252, 253, 255, 0.981);
    border: 0.5px solid rgb(194, 189, 189);
}
.line-through > .todo_title{
    text-decoration: line-through;
}
.line-through > .todo_description{
    text-decoration: line-through;
}
button {
    background-color: blue;
    color: white;
    border: none;
}
input[type=checkbox]{
    margin: 0;
    padding: 0;
    vertical-align: middle;
}



